# Created by https://www.gitignore.io/api/c++,cmake

### C++ ###
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# End of https://www.gitignore.io/api/c++,cmake

# Windows shortcut to git shell
Git Shell.lnk

# External dependencies
/external/

# Code coverage files
*.gcda
*.gcno
